<html>
  <head><title>tag2upload all jobs</title></head>
  <body>
    {% include "navbar.part.html" %}

    <h1>tag2upload all jobs</h1>
    {% include "jobtable.part.html" %}
  </body>
  {% include "footer.part.html" %}
</html>
