<hr>
<address>
  tag2upload Service Manager.

  Part of the Debian
  <a href="https://wiki.debian.org/tag2upload">tag2upload service</a>,
  designed by Ian Jackson and Sean Whitton.

  <a href="https://salsa.debian.org/dgit-team/tag2upload-service-manager">Manager
    source code</a>
  includes templates for these web pages.

  Manager version: {{ t2usm_version }}.

  Oracle, Builder, and tag utility source code is in the
  <a href="https://salsa.debian.org/dgit-team/dgit">dgit repository</a>.
</address>
