    <table rules="all">
      <tr>
	<th>job</th>
	<th>received</th>
	<th>source</th>
	<th>version</th>
	<th>url</th>
	<th>last_update</th>
	<th>status</th>
	<th>info</th>
	<th>processing</th>
	<th>dupe of</th>
      </tr>
    {% for j in jobs %}
      <tr>
	<td>{{ j.jid }}</td>
	<td>{{ j.received }}</td>
	<td>{{ j.source }}</td>
	<td>{{ j.version }}</td>
	<td>{{ j.repo_git_url }}</td>
	<td>{{ j.last_update }}</td>
	<td>{{ j.status }}</td>
	<td>{{ j.info }}</td>
	<td>{{ j.processing }}</td>
	<td>{{ j.duplicate_of }}</td>
      </tr>
    {% else %}
      <tr>
	<td colspan="10">
	  No jobs.
	</td>
      </tr>
    {% endfor %}
    </table>
