<html>
  <head><title>tag2upload build queue</title></head>
  <body>
    {% include "navbar.part.html" %}

    <h1>tag2upload build queue</h1>
    {% include "jobtable.part.html" %}
  </body>
  {% include "footer.part.html" %}
</html>
