<html>
  <head><title>tag2upload recent and queued jobs</title></head>
  <body>
    {% include "navbar.part.html" %}

    <h1>tag2upload recent and queued jobs</h1>
    {% include "jobtable.part.html" %}

    {% include "recent-note.part.html" %}

  </body>
  {% include "footer.part.html" %}
</html>
