<html>
  <head><title>tag2upload service</title></head>
  <body>
    {% include "navbar.part.html" %}

    <h1>tag2upload service</h1>

    <h2>Service status</h2>

	<dl>
	  <dt>Manager</dt>
	  <dd>{{ manager_status }}{% if pause_info %}:
	      {{ pause_info }}{% endif %}
          </dd>
	  <dt>Workers</dt>
	  <dd>
	    {{ n_workers_busy }} busy /
	    {{ n_workers_up }} up
	  </dd>
	</dl>

    <h2>Queued and recent jobs</h2>

      <table rules="all">
	<tr>
	  <th>status</th>
	  <th>job count</th>
	</tr>
      {% for sc in status_count %}
	<tr>
	  <td>{{ sc.status }}</td>
	  <td align="right">{{ sc.count }}</td>
	</tr>
      {% endfor %}
      </table>

      {% include "recent-note.part.html" %}

    <h2>Workers</h2>

      <table rules="all">
	<tr>
	  <th colspan="3">worker</th>
	  <th colspan="4">current/last job</th>
	</tr>
	<tr>
	  <th>ident</th>
	  <th>last interaction</th>
	  <th>phase</th>
	  <th>source</th>
	  <th>version</th>
	  <th>status</th>
	  <th>info</th>
	</tr>
      {% for w in workers %}
	<tr>
	  <td>{{ w.ident }}</td>
	  <td>{{ w.last_contact }}</td>
	  <td>{{ w.phase }}</td>
	  <td>{{ w.source }}</td>
	  <td>{{ w.version }}</td>
	  <td>{{ w.status }}</td>
	  <td>{{ w.info }}</td>
	</tr>
      {% else %}
	<tr>
	  <td colspan="7">
	    No workers connected.
	  </td>
	</tr>
      {% endfor %}
      </table>

  </body>
  {% include "footer.part.html" %}
</html>
